/* TASKS APP */

.tasks-app {
    display: flex;
    flex-direction: column;
    padding: 15px;

    position: relative;
}

.tasks-app__button {
    cursor: pointer;
    padding: 15px;
}

.tasks-app__popup {
    display: none;
    position: absolute;
    bottom: 70px;
    right: 0;
    min-width: 250px;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px;
}

.tasks-app__popup.active {
    display: block;
}

.tasks-app__popup-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
}

.tasks-app__popup-completed {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 20px;
    border-radius: 50%;
    padding: 1px;
    font-size: 12px;
}

.tasks-app__popup-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasks-app__popup-task {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.tasks-app__popup-checkbox {
    cursor: pointer;
    margin-right: 5px;
}

.tasks-app__popup-label {
    display: flex;
    align-items: baseline;
    width: 100%;
    line-height: 20px;
}

.tasks-app__popup-label input:checked + span {
    text-decoration: line-through;
}

.tasks-app__popup-footer {
    margin-top: 15px;
}

.tasks-app__popup-input {
    width: 100%;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 14px;

    background-color: transparent;
}

.tasks-app__popup-input::placeholder {
    color: #ffffff;
}

.tasks-app__popup-task-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}